html {
    background: #fff;
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/OpenSans-Regular-webfont.eot);
    src: url(fonts/OpenSans-Regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/OpenSans-Regular-webfont.woff) format("woff"), url(fonts/OpenSans-Regular-webfont.ttf) format("truetype"),
        url(fonts/OpenSans-Regular-webfont.svg#svgFontName) format("svg");
}
@font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/BebasNeue-webfont.eot);
    src: url(fonts/BebasNeue-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/BebasNeue-webfont.woff) format("woff"), url(fonts/BebasNeue-webfont.ttf) format("truetype"), url(fonts/BebasNeue-webfont.svg#svgFontName) format("svg");
}
@font-face {
    font-family: BraveWorld;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/braveworld.eot);
    src: url(fonts/braveworld.eot?#iefix) format("embedded-opentype"), url(fonts/braveworld.woff) format("woff"), url(fonts/braveworld.ttf) format("truetype"), url(fonts/braveworld.svg#svgFontName) format("svg");
}
body {
    font: 62.5%/1.2 "Open Sans", sans-serif;
    -webkit-text-size-adjust: 100%;
  }
.teaser h3, footer, h1 span, header, nav {
    font-family: "Bebas Neue";
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active, h1 a:focus{
    color: #000;
    text-decoration: none;
}
  nav, footer {
    display: none;
}
h1 {
    font-family: BraveWorld;
    font-weight: 400;
}
h1 em {
    border-bottom-right-radius: 48px;
    border-bottom-left-radius: 48px;
    border-bottom: solid 3px #000;
    display: inline-block;
    font-size: 4em;
    font-style: normal;
    height: auto;
    line-height: 1;
    padding: 0 0.2em;
    text-align: center;
  }
h1 a {
    position: relative;
    left: 5px;
    top: -5px;
}
h1 span {
    font-size: 2em;
    left: 10px;
    position: relative;
    top: -14px;
}
article > h2 {
    display: inline-block;
    font-size: 1.4em;
    margin: -35px 0 0 75px;
    position: relative;
    top: -5px;
}
h2 em {
    display: block;
    margin: 5px 0 0 0;
    text-align: center;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.8em;
}
p {
    font-size: 1.4em;
    line-height: 1.4;
}
p em {
    font-style: normal;
    font-weight: 900;
  }
p em + span {
    display: block;
  }  
h3 + p {
    margin-top: -10px;
}
a:link, a:visited {
    color: #000;
}
img {
    display: block;
    float: right;
    height: auto;
    margin: 0 0 10px 10px;
    max-width: 25%;
}