/* Reset and general styles */
* {
  margin: 0;
  padding: 0;
}
html {
  background: #e0e0e0;
  color: #666;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OpenSans-Regular-webfont.eot);
  src: url(fonts/OpenSans-Regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/OpenSans-Regular-webfont.woff) format("woff"), url(fonts/OpenSans-Regular-webfont.ttf) format("truetype"),
      url(fonts/OpenSans-Regular-webfont.svg#svgFontName) format("svg");
}
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BebasNeue-webfont.eot);
  src: url(fonts/BebasNeue-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/BebasNeue-webfont.woff) format("woff"), url(fonts/BebasNeue-webfont.ttf) format("truetype"), url(fonts/BebasNeue-webfont.svg#svgFontName) format("svg");
}
@font-face {
  font-family: BraveWorld;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/braveworld.eot);
  src: url(fonts/braveworld.eot?#iefix) format("embedded-opentype"), url(fonts/braveworld.woff) format("woff"), url(fonts/braveworld.ttf) format("truetype"), url(fonts/braveworld.svg#svgFontName) format("svg");
}
body {
  font: 62.5%/1.2 "Open Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
}
abbr, acronym, img {
  border: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
q:after, q:before {
  content: "";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
caption, td, th {
  text-align: left;
  vertical-align: top;
}
a:link {
  color: #1d6fbb;
  text-decoration: underline;
}
a:visited {
  color: #666;
  text-decoration: underline;
}
a:active, a:focus, a:hover {
  color: #1d6fbb;
  text-decoration: none;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: 400;
}
.teaser h3, footer, h1 span, header, nav {
  font-family: "Bebas Neue";
}
h1 {
  font-size: 1em;
  font-family: BraveWorld;
  font-weight: 400;
}
h2 {
  color: #000;
  font-size: 2.4em;
  font-weight: 400;
}
h3 {
  color: #000;
  font-size: 1.4em;
  font-weight: 400;
}
h4, h5, h6, li, p, td, th {
  font-size: 1.3em;
}
li li, li p {
  font-size: 1em;
}
p em {
  color: #000;
  font-style: normal;
  font-weight: 900;
}
p em + span {
  display: block;
}  

/* Layout */
#page {
  background: #fff;
  margin: 80px 2.5% 0;
}
header {
  position: relative;
}

h1 em {
  border-bottom-right-radius: 3.75em;
  border-bottom-left-radius: 3.75em;
  background: #e0e0e0;
  display: block;
  font-size: 1em;
  height: auto;
  margin-left: 3em;
  position: relative;
  text-align: center;
  text-indent: 0;
  top: -80px;
  width: 7.5em;
  z-index: 2;
}
h1 a {
  bottom: -5px;
  display: block;
  font-size: 10em;
  left: 5px;
  line-height: 1;
  margin: 0 auto;
  position: relative;
  text-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  width: 64px;
}
h1 a:active, h1 a:focus, h1 a:hover, h1 a:link, h1 a:visited {
  color: #fff;
  text-decoration: none;
}
h1 a:active, h1 a:focus, h1 a:hover {
  text-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
h1 span {
  display: block;
  font-size: 4.2em;
  line-height: 1;
  margin: -0.75em 0.5em 0 0.7em;
  text-align: center;
}

/* Navigation */
nav {
  position: absolute;
  right: 0;
  text-align: right;
  top: -4.3em;
  width: 100%;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  padding: 0.5em 0 0;
}
nav li {
  display: inline;
  font-size: 2.4em;
  padding: 0 0.9em 0 0;
}
nav li a, nav li em {
  color: #fff;
  position: relative;
}
nav li em {
  text-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
}
nav li a:link, nav li a:visited {
  color: #666;
  text-decoration: none;
}
nav li a:active, nav li a:focus, nav li a:hover {
  color: #fff;
  text-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
nav li a:active:after,
nav li a:focus:after,
nav li a:hover:after,
nav li em:after {
  border: solid transparent;
  border-color: transparent transparent #fff;
  border-width: 10px;
  content: " ";
  height: 0;
  margin-left: -11px;
  pointer-events: none;
  position: absolute;
  left: 50%;
  bottom: -11px;
  width: 0;
}

article,
aside {
    line-height: 1.5;
}
article > h2 {
    color: #aebb1d;
    font-size: 1.4em;
    font-style: italic;
    line-height: 1.2;
    margin: 0 1.5em 0 2.6em;
    text-align: center;
}
article > h2 span {
    display: block;   
    padding: 0.8em 0 0 0;
}
article > h2 em {
    display: block;
    color: #7a7a7a;
    padding: 0.8em 0 1em;
}
.teasers {
    margin: 0 -2%;
}
.teaser {
    color: #fff;
    padding: 0 6.666666666666666%;
}
.design /* ux */ {
    background: #aebb1d;
    transform: skewX(-2deg);
}
.product /* web */ {
    background: #949bb1;
    transform: skewX(2deg);
}
.agile /* analytics */ {
    background: #1d6fbb;
    transform: skewX(-2deg);
}
.web /* agile */ {
    background: #676f88;
    border-bottom: solid #797979 4px;
    transform: skewX(2deg);
}
.agile *, .design * {
    transform: skewX(2deg);
}
.web *, .product * {
    transform: skewX(-2deg);
}
.teaser h3 {
    color: #fff;
    font-size: 2em;
    line-height: 1;
    padding: 0.8em 0 0.5em;
    text-align: center;
}
.teaser p {
    padding: 0 0 1.6em;
}
.teaser a:active, .teaser a:focus, .teaser a:hover, .teaser a:link, .teaser a:visited {
    color: #fff;
}
section {
    padding: 0 5%;
}
.teasers + section, aside {
    padding: 3em 5% 0;
}
aside + aside {
    padding: 1.6em 5% 3em;
}
aside h2, section h2 {
    font-size: 1.6em;
    line-height: 1.2;
    padding: 0 0 1em;
}
aside p, section p {
    padding: 0 0 1.6em;
}
aside ul, section ul {
    padding: 0 0 2em 1.6em;
}
section img {
    margin: 0 0 1.6em;
}
hr {
    background: #797979;
    border: 0;
    clear: both;
    height: 0.1em;
}
footer {
    background: #949bb1;
    margin: 0 -3.125%;
    text-align: center;
    transform: skewX(-2deg);
}
footer ul {
    transform: skewX(2deg);
}
footer li {
    color: #b9c0d5;
    display: inline;
    font-size: 2.4em;
    line-height: 1.5;
}
footer li:before {
    content: "\2002-\2002";
}
footer li:first-child:before {
    content: "";
}
footer a:link, footer a:visited {
    color: #b9c0d5;
    text-decoration: none;
}
footer a:active, footer a:focus, footer a:hover, footer em {
    color: #fff;
    text-decoration: none;
}

@media only screen and (min-width: 30em) {
  h1 span {
      font-size: 4.8em;
  }
  article > h2 {
      font-size: 1.6em;
  }
  .teasers, footer {
      margin: 0 -2.304147465437788%;
  }
  section {
      padding: 0 4.5%;
  }
  .teasers + section, aside {
      padding: 3em 4.5% 0;
  }
  section h2, section p, section ul {
      padding-right: 1em;
  }
  section img {
      float: right;
      margin: -3.2em 0 1.6em 2em;
      width: 47.42268041237113%;
  }
  footer {
      clear: both;
  }
}

@media only screen and (min-width: 48em) {
  h1 span {
      font-size: 6.7em;
  }
  article > h2 {
      font-size: 1.8em;
  }
  .teasers {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      margin: 0 -1.28571428571429%;
      width: 102.8571428571429%;
  }
  .teaser {
      flex: 0 1 44.28571428571428%;
      padding: 0 2.857142857142858%;
  }
  .design, .product {
      transform: skewX(-2deg);
  }
  .web, .agile {
      border-bottom: solid #797979 4px;
      transform: skewX(2deg);
  }
  .design *, .product * {
      transform: skewX(2deg);
  }
  .web *, .agile * {
      transform: skewX(-2deg);
  }
  .teaser h3 {
      font-size: 2.3em;
      padding: 0.7em 0 0.4em;
  }
  .teaser p {
      padding: 0 0 2em;
  }
  section {
      padding: 0 2.4em 0 3.3em;
  }
  .teasers + section, aside {
      clear: left;
      padding: 3em 2.4em 0 3.3em;
  }
  section img {
      margin: -3.2em 0 3em 2em;
      width: 48.47560975609756%;
  }
  footer {
      margin: 0 -1.428571428571429%;
  }
  footer li {
      font-size: 3em;
      line-height: 2;
  }
}

@media only screen and (min-width: 64em) {
  #page {
      margin: 90px auto 0;
      width: 94em;
  }
  header {
      margin: 90px 0 0;
  }
  h1 em {
      border-bottom-right-radius: 4.5em;
      border-bottom-left-radius: 4.5em;
      margin-left: 7em;
      top: -90px;
      width: 9em;
  }
  h1 a {
      font-size: 11em;
      bottom: -5px;
      left: 5px;
      width: 76px;
  }
  h1 span {
      font-size: 8.7em;
  }
  html[lang="fi"] h1 span {
      font-size: 6.9em;
  }
  nav {
    top: -5.2em;
  }
  nav li {
    font-size: 3em;
  }
  nav li a:active:after, nav li a:focus:after, nav li a:hover:after, nav li em:after {
    border-width: 12px;
    bottom: -13px;
  }
  article > h2 {
      font-size: 2.0em;
  }
  .teasers {
      margin: 0 -1.063829787234043%;
      width: 102.1276595744681%;
  }
  .teaser {
      hyphens: auto;
      position: relative;
      padding: 0 2.169197396963124%;
      flex: 0 1 20.66160520607375%;
  }
  .design {
      border-bottom: solid #797979 4px;
      transform: skewX(-2deg);
      padding-right: 3.369197396963124%;
      z-index: 1;
  }
  .product {
      border-bottom: solid #797979 4px;
      transform: skewX(2deg);
      margin-left: -1.2%;
      padding-right: 3.369197396963124%;
      z-index: 2;
  }
  .agile {
      transform: skewX(-2deg);
      margin-left: -1.2%;
      padding-right: 3.369197396963124%;
      z-index: 3;
  }
  .web {
      transform: skewX(2deg);
      margin-left: -1.2%;
      z-index: 4;
  }
  .agile *, .design * {
      transform: skewX(2deg);
  }
  .web *, .product * {
      transform: skewX(-2deg);
  }
  .teaser h3 {
      font-size: 2.4em;
  }
  section {
      padding: 0 7.9em;
  }
  .teasers + section {
      padding: 3em 7.9em 0;
  }
  section img {
      width: 48.72122762148338%;
  }
  aside {
      clear: left;
      float: left;
      padding: 3em 1em 3em 7.9em;
      width: 40.53191489361702%;
  }
  aside + aside {
      clear: none;
      float: right;
      padding: 3em 7.9em 3em 1em;
  }
  footer {
      clear: both;
      margin: 0 -1.063829787234043%;
  }
}

@media only screen and (min-width: 80em) {
  #page {
      margin: auto;
      width: 112em;
  }
  .teaser {
    hyphens: none;
  }
  section img {
      width: 48.96049896049896%;
  }
  aside {
      width: 42%;
  }
}